<div class="player-wrapper">
  <div class="video-wrapper-inner">

    <i class="spinner ion-load-c" ng-if="loading"></i>

    <i ng-if="!playing && canplay" class="play-button ion-ios-play" ng-click="$event.stopPropagation();togglePlay()"></i>

    <div class="player-controls-mobile" ng-show="isMobileControlsVisible" ng-click="hideMobileControls()">
      <div class="player-controls-topbar">
        <div class="player-controls-box player-control-button" ng-click="$event.stopPropagation();">
          <i class="ion-chevron-left"></i>
        </div>
        <div class="player-controls-stretch player-controls-metaTitle">
          {{options.videoMetaTitle}}
        </div>

        <div class="player-controls-box player-control-button" ng-click="$event.stopPropagation(); toggleMobileOverlayBox('track');">
          <i class="ion-android-textsms"></i>
        </div>

        <div class="player-controls-box player-control-button" ng-click="$event.stopPropagation(); toggleMobileOverlayBox('episode')">
          <i class="ion-ios-browsers"></i>
        </div>

      </div>
      <div class="player-controls-bottombar">
        <div class="player-controls-box player-control-button" ng-click="$event.stopPropagation();togglePlay()">
          <i class="player-play-pause play ion-play" ng-show="!playing"></i>
          <i class="player-play-pause play ion-pause" ng-show="playing"></i>
        </div>
        <div class="player-controls-stretch">
          <rzslider ng-if="scrubber.options" rz-slider-model="currentTime" rz-slider-options="scrubber.options"></rzslider>
        </div>
        <div class="player-controls-box">
          <div class="time-display">
            {{videoDuration | streamaVideoTime}}
          </div>
        </div>
      </div>
    </div>

    <div class="player-controls-mobile-overlay-box" ng-if="mobileOverlayBox.isVisble">
      <i class="ion-close player-controls-mobile-overlay-box-close" ng-click="toggleMobileOverlayBox()"></i>

      <div ng-include="'streama-video-player.' + mobileOverlayBox.type + 'Selector.html'"></div>
    </div>

    <video ng-if="isInitialized" id="video" ng-src="{{options.videoSrc}}" type="{{options.videoType}}" ng-click="clickVideo()" class="subtitle-size-{{options.subtitleSize}}">
      <track ng-repeat="subtitle in options.subtitles" ng-src="{{subtitle.src}}" kind="subtitles" id="subtitle-{{subtitle.id}}"
             srclang="{{subtitle.subtitleSrcLang}}" label="{{subtitle.subtitleLabel}}" src="{{subtitle.src}}">
    </video>

  </div>
</div>


