<div class="mobile-overlay-container mobile-track-selector-container">

  <div class="row">
    <div class="col-xs-6">
      <h2>{{'VIDEO.SUBTITLES' | translate}}</h2>
      <ul class="track-selector-list">
        <li class="track-selector-item" ng-class="{'active': track.id == selectedSubtitleId}"
            ng-repeat="track in options.subtitles" ng-click="selectSubtitle(track)">
          {{track.subtitleLabel}}

          <i ng-if="track.id == selectedSubtitleId" class="ion-checkmark"></i>
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <h2>{{'VIDEO.SUBTITLE_SIZE' | translate}}</h2>
      <ul class="subtitle-size-picker">
        <li class="subtitle-size-lg" ng-class="{'active': options.subtitleSize == 'lg'}" ng-click="changeSubtitleSize('lg')">A</li>
        <li class="subtitle-size-md" ng-class="{'active': options.subtitleSize == 'md'}" ng-click="changeSubtitleSize('md')">A</li>
        <li class="subtitle-size-sm" ng-class="{'active': options.subtitleSize == 'sm'}" ng-click="changeSubtitleSize('sm')">A</li>
      </ul>
    </div>
  </div>



</div>