
.player-controls-mobile-overlay-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: black;

  .player-controls-mobile-overlay-box-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.7em;
    padding: .5em;
    width: 1em;
    text-align: center;
    z-index: 999;
  }
}

.mobile-overlay-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2.5em;

  @include flexbox;
  @include flex-direction(column);


  h2{
    padding: 0 1.1em;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
  }

}

@media (min-height:  500px) {
  .mobile-overlay-container{
    max-height: 500px;
    top: 50%;
    margin-top: -250px;
  }
}


.track-selector-list{
  margin: 10px 0;
  padding: 0 1.5em;

  .track-selector-item{
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid #3e3e3e;
    font-size: 1.3em;
    color: #b5b5b5;

    i{
      float: right;
    }

    &.active{
      color: white;
    }
  }
}