
.player-controls-mobile-overlay-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: black;

  .player-controls-mobile-overlay-box-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.7em;
    padding: .5em;
    width: 1em;
    text-align: center;
    z-index: 999;
  }
}