
video.subtitle-size-lg::cue {
  font-size: 1.4em;
}
video.subtitle-size-md::cue {
  font-size: 1.2em;
}
video.subtitle-size-sm::cue {
  font-size: 1em;
}

.player-controls-mobile{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(black 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, black 100%);
  z-index: 8;

  .player-wrapper .play-button{
    font-size: 5em;
  }

  .player-controls-topbar{
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include flexbox;
    @include align-items(center);
  }

  .player-controls-bottombar {
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include flexbox;
    @include align-items(center);
  }

  .player-controls-metaTitle{
    font-size: 1.2em;
  }

  .player-control-button{
    font-size: 24px;
    width: 2.5em;

    &:hover{
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .player-controls-box{
    @include flex(none);
    padding: .8em;
    text-align: center;
  }

  .rzslider{
    margin-top: 15px;
    margin-left: 8px;

    .rz-bar:not(.rz-selection){
      background: rgba(216, 224, 243, 0.25);
    }
  }
  .time-display{

  }

  .player-controls-stretch{
    @include flex(1);
  }

}